{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">

    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    
                    <div class="card">
                        
                        <div class="card-header">
                            <h5 class="m-0 font-weight-bold text-primary">
                                {% if object %}
                                    Update Sub Task
                                {% else %}
                                    Add New Sub Task
                                {% endif %}
                            </h5>
                        </div>

                        <div class="card-body">
                            <div class="col-md-6">
                                <form action="" method="post" novalidate>
                                    {% csrf_token %}
                                    {% include 'includes/form.html' %}

                                    <div class="form-group mt-3">
                                        <button type="submit" class="btn btn-primary btn-rounded">
                                            {% if object %}Save Changes{% else %}Add Sub Task{% endif %}
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                    </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}